# Q.1- Create a database. Create the following tables:
1. Book
2. Titles
3. Publishers
4. Zipcodes
5. AuthorsTitles
6. Authors<br>
Refer to the diagram below
<img src="http://res.cloudinary.com/av-images/image/upload/v1528295010/60_r3huv0.png">

In [51]:
import pymysql as pm
try:
    con=pm.connect(host='localhost',database='library',user='root',password='root')
    cursor=con.cursor()
    
    query6='Create table Authors(AuthorID int primary key,FirstName varchar(15),MiddleName varchar(15),LastName varchar(15))'
    #l1=[(101,'Ajay','Kumar','Sharma'),(102,'Sarthak','Kashp','Gupta'),(103,'Mayank','Singh','Rathore'),(104,'Aman','Chandra','Shukla'),(105,'Rahul','Kumar','Gupta')]
    cursor.execute(query6)

    query4='Create table Zip_Codes(Zip_Code_ID int primary key,City varchar(15),State varchar(20),Zip_Code int)'
    #l2=[(1,'Dehradun','Uttarakhand',248001),(2,'UttarPradesh','Lucknow',249014),(3,'Maharashtra','Mumbai',34987),(4,'Rajasthan','Jaipur',123456),(5,'UttarPradesh','Lucknow',249014)]
    cursor.execute(query4)

    query3='Create table Publishers(Publisher_ID int primary key,Name varchar(15),Street_Address varchar(50),Suite_Number int,Zip_Code_ID int,foreign key(Zip_Code_ID) references Zip_Codes(Zip_Code_ID))'    
    #l3=[(10,'AK Garg','New Friends Colony',51,2),(11,'Rahul Kumar','Vasant Vihar',53,4),(12,'Arun Guhai','Rajendra Nagar',55,3),(13,'Rahul Mishra','Laxman Vihar',54,1),(14,'Vivek Sharma','Karol Bagh',57,5)]
    cursor.execute(query3)

    query2='Create table Titles(TitleId int primary key,Title varchar(35),ISBN int,Publisher_ID int,Publication_Year int,foreign key(Publisher_ID) references Publishers(Publisher_ID))'
    #l4=[(21,'GameOfThrones',1001,12,2005),(22,'HarryPotter',1002,11,2003),(23,'TheKiteRunner',1003,10,2014),(24,'FivePointSomeOne',1004,14,2012),(21,'13ReasonsWhy',1005,13,2015)]
    cursor.execute(query2)

    query1='Create table Books(BookId int primary key,TitleId int,Location varchar(15),Genre varchar(10),foreign key(TitleId) references Titles(TitleId))'
    #l5=[(201,21,'Hyderabad','Action'),(202,23,'Bangalore','Drama'),(203,22,'NewDelhi','Romantic'),(204,25,'Kolkata','LoveStory'),(205,24,'Chandigarh','Drama')]
    cursor.execute(query1)

    query5='Create table Authors_Titles(Author_Title_ID int primary key,AuthorID int ,TitleId int,foreign key(AuthorID) references Authors(AuthorID),foreign key(TitleId) references Titles(TitleId))'
    #l6=[(501,102,21),(502,101,22),(503,104,25),(504,103,24),(505,105,23)]
    cursor.execute(query5)

    print('Table Created')
    
except pm.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Table Created
DONE!!

# Q.2- Insert values in the tables.

In [53]:
import pymysql as pm
try:
    con=pm.connect(host='localhost',database='library',user='root',password='root')
    cursor=con.cursor()
    query1 = "insert into Authors values (101,'Ajay','Kumar','Sharma'),(102,'Sarthak','Kashp','Gupta'),(103,'Mayank','Singh','Rathore'),(104,'Aman','Chandra','Shukla'),(105,'Rahul','Kumar','Gupta')"
    cursor.execute(query1)
    
    query2 = "insert into Zip_Codes values (1,'Dehradun','Uttarakhand',248001),(2,'UttarPradesh','Lucknow',249014),(3,'Maharashtra','Mumbai',34987),(4,'Rajasthan','Jaipur',123456),(5,'UttarPradesh','Lucknow',249014)"
    cursor.execute(query2)
    
    query3 = "insert into Publishers values(10,'AK Garg','New Friends Colony',51,2),(11,'Rahul Kumar','Vasant Vihar',53,4),(12,'Arun Guhai','Rajendra Nagar',55,3),(13,'Rahul Mishra','Laxman Vihar',54,1),(14,'Vivek Sharma','Karol Bagh',57,5)"
    cursor.execute(query3)
   
    query4 = "insert into Titles values (21,'GameOfThrones',1001,12,2005),(22,'HarryPotter',1002,11,2003),(23,'TheKiteRunner',1003,10,2014),(24,'FivePointSomeOne',1004,14,2012),(25,'13ReasonsWhy',1005,13,2015)"
    cursor.execute(query4)
    
    query5 = "insert into Books values (201,21,'Hyderabad','Action'),(202,23,'Bangalore','Drama'),(203,22,'NewDelhi','Romantic'),(204,25,'Kolkata','LoveStory'),(205,24,'Chandigarh','Drama')"
    cursor.execute(query5)

    query6 = "insert into Authors_Titles values (501,102,21),(502,101,22),(503,104,25),(504,103,24),(505,105,23)"
    cursor.execute(query6)
    
    con.commit()

    
except pm.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

DONE!!

# Q.3- Update any values in any of the tables. Print the original and updated values.

In [64]:
import pymysql as pm
try:
    con=pm.connect(host='localhost',database='library',user='root',password='root')
    cursor=con.cursor()
    query1="Select * from Publishers where Publisher_ID=14"
    cursor.execute(query1)
    data = cursor.fetchall()
    for row in data:
        print('Publisher_ID: {}, Name: {}, Street_Adress: {}, Suite_Number: {}, Zip_Code_ID: {}'\
             .format(row[0], row[1], row[2], row[3],row[4]))
   
    query2="Update Publishers set Street_Address='Rajpur Road' where Publisher_ID=14"
    cursor.execute(query2)
    con.commit()
    
    print("\nUpdated Table:")
    query3="Select * from Publishers"
    cursor.execute(query3)
    d = cursor.fetchall()
    for row in d:
        print('Publisher_ID: {}, Name: {}, Street_Adress: {}, Suite_Number: {}, Zip_Code_ID: {}'\
             .format(row[0], row[1], row[2], row[3],row[4]))
   
except pm.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('\nDONE!!')

Publisher_ID: 14, Name: Vivek Sharma, Street_Adress: Rajpur Road, Suite_Number: 57, Zip_Code_ID: 5

Updated Table:
Publisher_ID: 10, Name: AK Garg, Street_Adress: New Friends Colony, Suite_Number: 51, Zip_Code_ID: 2
Publisher_ID: 11, Name: Rahul Kumar, Street_Adress: Vasant Vihar, Suite_Number: 53, Zip_Code_ID: 4
Publisher_ID: 12, Name: Arun Guhai, Street_Adress: Rajendra Nagar, Suite_Number: 55, Zip_Code_ID: 3
Publisher_ID: 13, Name: Rahul Mishra, Street_Adress: Laxman Vihar, Suite_Number: 54, Zip_Code_ID: 1
Publisher_ID: 14, Name: Vivek Sharma, Street_Adress: Rajpur Road, Suite_Number: 57, Zip_Code_ID: 5

DONE!!